<nav class="navbar fixed-bottom bg-light bg-body-tertiary">
    <div class="container-fluid footer">
        <span class="navbar-text">
            Agradecemos pela escolha, &copy;2023 Copyright
        </span>
    </div>
</nav>