<main class="main">
    <div class="card text-bg-light">
        <a href="/aluno/form">
            <img src="/public/img/student_icon.png" width="40%" class="card-img" alt="Aluno">
            <div class="card-footer text-body-secondary">
                Cadastrar Aluno
            </div>
        </a>
    </div>
    <div class="card text-bg-light">
        <a href="/turma/form">
            <img src="/public/img/classroom_icon.png" width="40%" class="card-img" alt="Turma">
            <div class="card-footer text-body-secondary">
                Cadastrar Turma
            </div>
        </a>
    </div>
</main>